FrameworkClient/Service References/Bar/DemoService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:fdc:cheddarmonk.org:2017:Demo" elementFormDefault="qualified" targetNamespace="urn:fdc:cheddarmonk.org:2017:Demo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Reverse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="str" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReverseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReverseResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>